<div class="text-center m-2">
    <a class="btn btn-secondary btn-sm" asp-controller="Home">Home - View Only</a>
    <a class="btn btn-secondary btn-sm" asp-controller="Store">Store</a>
    <a class="btn btn-secondary btn-sm" asp-controller="Admin">Admin</a>
</div>