@page
@using Microsoft.AspNetCore.Authorization
@using AuthenticationSchemes = IdentityExample.CustomSecurity.AuthorizationHandlers.AuthenticationSchemes

@attribute [Authorize("cutiPolicy", AuthenticationSchemes = AuthenticationSchemes.TestScheme)]
<h4 class="bg-info text-center text-white m-2 p-2">
    This is the secret message
</h4>